USE [COMPRAS-PROJECT]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CEDULA] [char](11) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSONA] [int] NULL,
	[DEPARTAMENTO] [int] NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_EMPLEADO]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VISTA_EMPLEADO]
AS
(
	SELECT
		E.ID,
		P.CEDULA,
		P.NOMBRE AS [NOMBRE PERSONA],
		D.NOMBRE AS [NOMBRE DEPARTAMENTO],
		EST.NOMBRE AS [NOMBRE ESTADO]
		FROM EMPLEADO E INNER JOIN PERSONA P ON P.ID=E.PERSONA
		INNER JOIN DEPARTAMENTO D ON D.ID= E.DEPARTAMENTO
		INNER JOIN ESTADO EST ON EST.ID=E.ESTADO
		WHERE E.ESTADO!=2

)
GO
/****** Object:  View [dbo].[VISTA_DEPARTAMENTO]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[VISTA_DEPARTAMENTO]
AS
(
	SELECT 
		D.ID,
		D.NOMBRE AS [NOMBRE DEPARTAMENTO],
		E.NOMBRE AS [NOMBRE ESTADO]
	FROM
	DEPARTAMENTO D INNER JOIN ESTADO E ON E.ID=D.ESTADO
	WHERE D.ESTADO!=2
)
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSONA] [int] NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_CLIENTE]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VISTA_CLIENTE]
AS
(
	SELECT
		C.ID,
		P.NOMBRE AS [NOMBRE PRESONA],
		P.CEDULA,
		E.NOMBRE AS [NOMBRE ESTADO]
		FROM CLIENTE C INNER JOIN PERSONA P ON P.ID=C.PERSONA
		INNER JOIN ESTADO E ON E.ID=C.ESTADO
		WHERE C.ESTADO!=2

)


GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_MARCA]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_MARCA]
AS
(
	SELECT 
		M.ID,
		M.NOMBRE AS [NOMBRE MARCA],
		E.NOMBRE AS [NOMBRE ESTADO]
		FROM MARCA M INNER JOIN ESTADO E ON E.ID=M.ESTADO
		WHERE M.ESTADO!=2
)


GO
/****** Object:  Table [dbo].[UNIDAD_MEDIDA]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIDAD_MEDIDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_UNIDAD_MEDIDA]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_UNIDAD_MEDIDA]
AS
(
	SELECT 
		UM.ID,
		UM.NOMBRE AS [NOMBRE UNIDAD MEDIDA],
		E.NOMBRE AS [NOMBRE ESTADO]
		FROM UNIDAD_MEDIDA UM INNER JOIN ESTADO E ON E.ID=UM.ESTADO
		WHERE UM.ESTADO!=2
)


GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RNC] [char](11) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_PROVEEDOR]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[VISTA_PROVEEDOR]
AS
(
	SELECT
		P.ID,
		p.NOMBRE AS [NOMBRE PROVEEDOR],
		P.RNC,
		E.NOMBRE AS [NOMBRE ESTADO]

		FROM PROVEEDOR P INNER JOIN ESTADO E ON E.ID=P.ESTADO
		WHERE P.ESTADO!=2

)




GO
/****** Object:  Table [dbo].[ARTICULO]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[EXISTENCIA] [int] NOT NULL,
	[MARCA] [int] NULL,
	[UNIDAD_MEDIDA] [int] NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOLICITUD]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLICITUD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLEADO] [int] NULL,
	[FECHA] [date] NOT NULL,
	[ARTICULO] [int] NULL,
	[CANTIDAD] [int] NOT NULL,
	[UNIDAD_MEDIDA] [int] NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_SOLICITUD]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[VISTA_SOLICITUD]
AS
(
	SELECT 
		S.ID,
		P.NOMBRE AS [NOMBRE EMPLEADO],
		S.FECHA,
		A.NOMBRE AS [NOMBRE ARTICULO],
		S.CANTIDAD,
		UM.NOMBRE AS [NOMBRE UNIDAD MEDIDA],
		E.NOMBRE AS [NOMBRE ESTADO]
	FROM SOLICITUD S 
	INNER JOIN EMPLEADO EMP ON EMP.ID= S.EMPLEADO
	INNER JOIN PERSONA P ON P.ID=EMP.PERSONA
	INNER JOIN ARTICULO A ON A.ID=S.ARTICULO
	INNER JOIN UNIDAD_MEDIDA UM ON UM.ID=S.UNIDAD_MEDIDA
	INNER JOIN ESTADO E ON E.ID=S.ESTADO
	WHERE S.ESTADO!=2
)




GO
/****** Object:  View [dbo].[VISTA_ARTICULO]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[VISTA_ARTICULO]
AS
(
	SELECT
		A.ID,
		A.NOMBRE AS [NOMBRE ARTICULO],
		A.EXISTENCIA,
		M.NOMBRE AS [NOMBRE MARCA],
		UM.NOMBRE AS [UM NOMBRE],
		E.NOMBRE AS [NOMBRE ESTADO]
		FROM ARTICULO A
		INNER JOIN MARCA M ON M.ID=A.MARCA
		INNER JOIN UNIDAD_MEDIDA UM ON UM.ID=A.UNIDAD_MEDIDA
		INNER JOIN ESTADO E ON E.ID=A.ESTADO
		WHERE A.ESTADO!=2
)



GO
/****** Object:  Table [dbo].[ORDEN_COMPRA]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_COMPRA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SOLICITUD] [int] NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_USUARIO]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 7/18/2021 2:48:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_USUARIO] [varchar](50) NOT NULL,
	[CLAVE] [varchar](50) NOT NULL,
	[TIPO_USUARIO] [int] NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARTICULO] ON 

INSERT [dbo].[ARTICULO] ([ID], [NOMBRE], [EXISTENCIA], [MARCA], [UNIDAD_MEDIDA], [ESTADO]) VALUES (1, N'CARRO', 3, 1, 1, 1)
INSERT [dbo].[ARTICULO] ([ID], [NOMBRE], [EXISTENCIA], [MARCA], [UNIDAD_MEDIDA], [ESTADO]) VALUES (2, N'Sedan', 6, 1, 1, 2)
SET IDENTITY_INSERT [dbo].[ARTICULO] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([ID], [PERSONA], [ESTADO]) VALUES (5, 7, 2)
INSERT [dbo].[CLIENTE] ([ID], [PERSONA], [ESTADO]) VALUES (6, 8, 1)
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTAMENTO] ON 

INSERT [dbo].[DEPARTAMENTO] ([ID], [NOMBRE], [ESTADO]) VALUES (1, N'INFORMATICA', 1)
INSERT [dbo].[DEPARTAMENTO] ([ID], [NOMBRE], [ESTADO]) VALUES (2, N'RRHH', 1)
INSERT [dbo].[DEPARTAMENTO] ([ID], [NOMBRE], [ESTADO]) VALUES (3, N'Contabilidad', 2)
SET IDENTITY_INSERT [dbo].[DEPARTAMENTO] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] ON 

INSERT [dbo].[EMPLEADO] ([ID], [PERSONA], [DEPARTAMENTO], [ESTADO]) VALUES (1, 1, 1, 1)
INSERT [dbo].[EMPLEADO] ([ID], [PERSONA], [DEPARTAMENTO], [ESTADO]) VALUES (2, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[EMPLEADO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

INSERT [dbo].[ESTADO] ([ID], [NOMBRE]) VALUES (1, N'ACTIVO')
INSERT [dbo].[ESTADO] ([ID], [NOMBRE]) VALUES (2, N'INACTIVO')
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
GO
SET IDENTITY_INSERT [dbo].[MARCA] ON 

INSERT [dbo].[MARCA] ([ID], [NOMBRE], [ESTADO]) VALUES (1, N'Lamborgini', 2)
INSERT [dbo].[MARCA] ([ID], [NOMBRE], [ESTADO]) VALUES (2, N'Lamborgini', 1)
INSERT [dbo].[MARCA] ([ID], [NOMBRE], [ESTADO]) VALUES (3, N'Ferrari', 1)
SET IDENTITY_INSERT [dbo].[MARCA] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDEN_COMPRA] ON 

INSERT [dbo].[ORDEN_COMPRA] ([ID], [SOLICITUD], [ESTADO]) VALUES (1, 1, 2)
SET IDENTITY_INSERT [dbo].[ORDEN_COMPRA] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONA] ON 

INSERT [dbo].[PERSONA] ([ID], [CEDULA], [NOMBRE]) VALUES (1, N'12345678901', N'Juan')
INSERT [dbo].[PERSONA] ([ID], [CEDULA], [NOMBRE]) VALUES (2, N'12345678904', N'Marcos')
INSERT [dbo].[PERSONA] ([ID], [CEDULA], [NOMBRE]) VALUES (7, N'12435678901', N'12435678901')
SET IDENTITY_INSERT [dbo].[PERSONA] OFF
GO
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([ID], [RNC], [NOMBRE], [ESTADO]) VALUES (1, N'12345678901', N'RK Comercial', 1)
INSERT [dbo].[PROVEEDOR] ([ID], [RNC], [NOMBRE], [ESTADO]) VALUES (2, N'21345678901', N'XDA', 2)
INSERT [dbo].[PROVEEDOR] ([ID], [RNC], [NOMBRE], [ESTADO]) VALUES (4, N'12354678901', N'ZXE', 1)
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
GO
SET IDENTITY_INSERT [dbo].[SOLICITUD] ON 

INSERT [dbo].[SOLICITUD] ([ID], [EMPLEADO], [FECHA], [ARTICULO], [CANTIDAD], [UNIDAD_MEDIDA], [ESTADO]) VALUES (1, 1, CAST(N'2001-01-04' AS Date), 1, 5, 1, 2)
SET IDENTITY_INSERT [dbo].[SOLICITUD] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_USUARIO] ON 

INSERT [dbo].[TIPO_USUARIO] ([ID], [NOMBRE], [ESTADO]) VALUES (1, N'ADM', 1)
SET IDENTITY_INSERT [dbo].[TIPO_USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[UNIDAD_MEDIDA] ON 

INSERT [dbo].[UNIDAD_MEDIDA] ([ID], [NOMBRE], [ESTADO]) VALUES (1, N'Metro', 2)
INSERT [dbo].[UNIDAD_MEDIDA] ([ID], [NOMBRE], [ESTADO]) VALUES (2, N'Metro', 1)
SET IDENTITY_INSERT [dbo].[UNIDAD_MEDIDA] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID], [NOMBRE_USUARIO], [CLAVE], [TIPO_USUARIO], [ESTADO]) VALUES (1, N'XD', N'1234', 1, 1)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PERSONA__06BB8448F68509F2]    Script Date: 7/18/2021 2:48:38 AM ******/
ALTER TABLE [dbo].[PERSONA] ADD UNIQUE NONCLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROVEEDO__CAFF6950FD20C037]    Script Date: 7/18/2021 2:48:38 AM ******/
ALTER TABLE [dbo].[PROVEEDOR] ADD UNIQUE NONCLUSTERED 
(
	[RNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TIPO_USU__B21D0AB9D7CAD759]    Script Date: 7/18/2021 2:48:38 AM ******/
ALTER TABLE [dbo].[TIPO_USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__1E139900FE4C064A]    Script Date: 7/18/2021 2:48:38 AM ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[NOMBRE_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD FOREIGN KEY([MARCA])
REFERENCES [dbo].[MARCA] ([ID])
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD FOREIGN KEY([UNIDAD_MEDIDA])
REFERENCES [dbo].[UNIDAD_MEDIDA] ([ID])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([PERSONA])
REFERENCES [dbo].[PERSONA] ([ID])
GO
ALTER TABLE [dbo].[DEPARTAMENTO]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([ID])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([PERSONA])
REFERENCES [dbo].[PERSONA] ([ID])
GO
ALTER TABLE [dbo].[MARCA]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[ORDEN_COMPRA]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[ORDEN_COMPRA]  WITH CHECK ADD FOREIGN KEY([SOLICITUD])
REFERENCES [dbo].[SOLICITUD] ([ID])
GO
ALTER TABLE [dbo].[PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[SOLICITUD]  WITH CHECK ADD FOREIGN KEY([ARTICULO])
REFERENCES [dbo].[ARTICULO] ([ID])
GO
ALTER TABLE [dbo].[SOLICITUD]  WITH CHECK ADD FOREIGN KEY([EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID])
GO
ALTER TABLE [dbo].[SOLICITUD]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[SOLICITUD]  WITH CHECK ADD FOREIGN KEY([UNIDAD_MEDIDA])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[TIPO_USUARIO]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[UNIDAD_MEDIDA]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([TIPO_USUARIO])
REFERENCES [dbo].[TIPO_USUARIO] ([ID])
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD CHECK  (([EXISTENCIA]>=(0)))
GO
ALTER TABLE [dbo].[SOLICITUD]  WITH CHECK ADD CHECK  (([CANTIDAD]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_CLIENTE]    Script Date: 7/18/2021 2:48:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_CLIENTE]
(
	@NOMBRE VARCHAR(50),
	@CEDULA CHAR(11),
	@ESTADO INT
)
AS
BEGIN
	BEGIN TRAN T1
		INSERT INTO PERSONA VALUES(@NOMBRE,@CEDULA)
		INSERT INTO CLIENTE VALUES((SELECT MAX(ID)FROM PERSONA),@ESTADO)
	
	IF @@ERROR<>0
		ROLLBACK TRAN T1
	ELSE
		COMMIT TRAN T1
END

GO
/****** Object:  StoredProcedure [dbo].[INSERTA_EMPLEADO]    Script Date: 7/18/2021 2:48:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_EMPLEADO]
(
	@CEDULA CHAR(11),
	@NOMBRE VARCHAR(50),
	@DEPARTAMENTO INT,
	@ESTADO INT
)
AS
BEGIN
	BEGIN TRAN T1
		INSERT INTO PERSONA VALUES(@CEDULA,@NOMBRE)
		INSERT INTO EMPLEADO VALUES
		(
			(SELECT MAX(ID) FROM PERSONA),
			@DEPARTAMENTO,
			@ESTADO
		)
	IF @@ERROR<>0
		ROLLBACK TRAN T1
	ELSE
		COMMIT TRAN T1
END
GO
